.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.2);
  left: 0;
  top: 50px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modalContainer {
  border-radius: 20px;
  /* width: 70vw;
  height: 75vh; */
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  z-index: 100;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
  border-bottom: 0.5px solid rgb(219, 218, 218);
  padding-bottom: 1rem;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modalContainer .footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @media (max-width: 600px) {
  .modalBackground {
    position:
  }
} */
