.modalBackgroundForm {
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
  left: 0;
  top: 5vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modalContainerForm {
  border-radius: 20px;
  width: 50vw;
  height: 85vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin: 1.5rem;
}

.modalBackgroundPassword {
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
  left: 0;
  right: 0;
  top: 5vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
}


.modalContainerPassword {
  border-radius: 20px;
  width: 50vw;
  height: 80vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin: 2rem;
}

.modalContainerFormSmall {
  border-radius: 20px;
  width: 40vw;
  height: 50vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.formScroll {
  height: 50vh;
  overflow-y: scroll;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 1100px) {
  .modalContainerForm {
    width: 60vw;
  }
}
@media screen and (max-width: 650px) {
  .modalContainerForm {
    width: 95vw;
  }

.modalContainerFormSmall {
  width: 95vw;
}
.modalBackgroundPassword {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.3);
  left: 0;
  top: 5vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 102;
  /* overflow-y: scroll; */
}


.modalContainerPassword {
  border-radius: 20px;
  width: 95vw;
  height: 90vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin: 2rem;
}
}
