.stripeContainer {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.stripeForm {
  width: 30vw;
  min-width: 500px;
  align-self: center;
  margin: 2rem;
}

#payment-form {
  padding: 20px;
  margin: 20px 0;
}

#messages {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
  background-color: #0a253c;
  color: #00d924;
  padding: 20px;
  margin: 20px 0;
  border-radius: var(--radius);
  font-size: 0.7em;
}

.myP-2 {
  padding: 10px;
}

.pointer {
  cursor: pointer;
}
