.spinnerContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
}
.spinner-border {
  width: 3rem;
  height: 3rem;
}
.spinner-grow {
  width: 3rem;
  height: 3rem;
}
