:root {
    /* Colors */
    --steelblue: rgb(0, 140, 255);
    --indigo: #6610f2;
    --yellow: rgb(255, 193, 7);
    --lightYellow: rgb(255, 193, 7, 0.05);
    --lightTeal: rgb(32, 201, 151, 0.05);
    --white: #fff;
    --gray: #e0e0e0;
    --gray-dark: #58626d;
    --secondary: #20c997;
    --primary: rgb(5, 197, 255);
    --lightBlue: rgb(5, 197, 255, 0.05);
    --light: #f4f4f4;
    --dark: #343a40;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--gray-dark);
 
}

.small-text {
    font-size: 13px;
}

/* Reset styles on <li> and <a> tags */
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    opacity: 0.5;
}

.cursor {
    cursor: pointer;
}

.navbar-toggler {
    border: none;
}

.myBtn {
    border: 0.5px solid var(--gray);
    border-radius: 20px;
    padding: 5px 20px;
    color: var(--light);
}

.myRounded {
    border-radius: 20px;
}

.navbar img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.btn-outline-success:hover {
    background-color: var(--gray);
    opacity: 0.7;
}
.secondary{
    border: none;
    background-color: var(--secondary);
}

.primary {
    border: none;
    background-color: var(--primary);
}

.myDangerBg {
    border: none;
    background-color: var(--yellow);
}

.bgLightBlue {
    border: none;
    background-color: var(--lightBlue);
}

.bgLightTeal {
    border: none;
    background-color: var(--lightTeal);
}

.bgLightYellow {
    border: none;
    background-color: var(--lightYellow);
}

.myDanger {
    border: none;
    background-color: var(--danger);
}

.myInput {
    border: none;
}

.myVh {
    min-height: 100vh;
}

.myRangeWidth {
    max-width: 100px;
}

.textPrimary {
    color: var(--primary);
}

.textSecondary {
    color: var(--secondary);
}

.textYellow {
    color: var(--yellow);
}

.lrgIcon {
    font-size: 20px;
}
